/*************
* Outer Containers
**********/

* {
    -webkit-font-smoothing: antialiased;
    font-family: $body-fonts;
}

        .bttn {
            @include transition(0.2);
            padding: 7px 14px;
            display: inline-block;
            border-radius: 3px;
            font-family: $body-fonts;
            cursor: pointer;
            border: 1px;
        }
        .bttn-primary {
            color: white;
            background-color: $sky;
            &:hover, &:active {
                background-color: $dsky;
            }
        }
        .bttn-secondary {
            color: $sky;
            background-color: white;
            border: 1px solid $sky;
            &:hover, &:active {
                color: $dsky;
                border: 1px solid $dsky;
            }
        }

h1 {
    color: $dgray;
    font-family: $body-fonts;
    font-weight: 500;
}

    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .header {
        position: relative;
        z-index: 1000;
        height: 76px;
        width: 100%;
        background: $sky;

        #logo-wrap {
            display: inline-block;
            width: 25%;
        }
        #logo {
            display: inline-block;
            width: 225px;
            margin-top: 10px;

            svg {
                width: 175px;
                height: 66px;
                top: 10px;
                left: 0px;
                position: fixed;

                path {
                    fill: white;
                }
            }
        }
    }

.nav-sidebar{
    position: fixed;
    top: 0px;
    left: 0px;
    padding-top: 90px;
    width: 175px;
    height: 100%;
    z-index: 100;

        #logo-dark {
            display: inline-block;
            width: 225px;
            margin-top: 10px;

            svg {
                width: 175px;
                height: 66px;
                top: 10px;
                left: 0px;
                position: fixed;

                path {
                    fill: $dgray;
                }
            }
        }

    &.light {
        background-color: $lgray;
    }

    .parent-list {
        .list-item {
            a {
                color: $dgray;
                font-size: 22px;
                letter-spacing: .06em;
                line-height: 1em;
                font-weight: 300;
                text-decoration: none;
            }

            i {
                width: 30px;
                text-align: center;

                &.more {
                    color: #c2c2c2;
                    @include transition(0.3);
                    font-size: 0.8em;
                    margin-top: 0.3em;

                    &.turnt {
                        @include rotate(90);
                    }
                }
            }
        }
        .child-list {
            @include transition(0.3);
            list-style-type: none;
            padding-left: 30px;
            overflow-y: hidden;
            background-color: lightgray;
            position: relative;
            left: 0px;

            &.expand-2 {
                max-height: 98px;
            }

            &.expand-3 {
                max-height: 137px;
            }

            &.hiding {
                max-height: 0px !important;
                background-color: transparent;
                left: -400px;
            }

            .list-item {
                padding: 7px 0px;

                &:first-child {
                    padding-top: 17px;
                }
                &:last-child {
                    padding-bottom: 17px;
                }
            }
        }
    }
}
/*********
* Middle
*******/
.main {
    width: auto;
    display: block;
    .center-main {
        width: 100%;
        max-width: 1126px;
        margin: 0px auto;
    }
}
.main-wrap {
    display: block;
    @include box-sizing(border);
    @include margin-auto();
    width: 100%;
    padding: 0px 0px 0px 175px;
}
.sidebar {
    width: 230px;
    margin-right: 20px;
    margin-top: 36px;
    float: right;
    height: 438px;
    padding: 0px;

    .subheader {
        margin: 10px 0px;
        display: block;
        color: $dgray;
    }

    h2.sidebar-title {
        width: 100%;
        background-color: $coral;
        border: 1px solid $coral;
        color: #fff;
        display: block;
        font-size: 20px;
        font-weight: 700;
        line-height:24px;
        text-align: center;
        padding: 6px 0px;
        margin: 0;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }

    label, input, select {
        color: $dgray;
    }

    .inner-sidebar {
        padding: 20px 10px;

        strong {
            display: block;
        }

        span {
            color: $dgray;
        }

        .avail-statement {
            color: $dgray;
        }
        .availability-list {
            list-style-type: none;
            margin: 0px;
            padding: 0px;

            li {
                margin: 5px 0px;
            }

            h3 {
                color: $sky;
                cursor: pointer;
                margin-bottom: 0px;
                text-decoration: underline;
            }

            .host-info {
                color: $dgray;
            }
        }
    }

    .icon-list {
        padding: 25px 0px 15px 0px;
        list-style: none;
        margin: 0px 0px 20px 0px;
        border-bottom: 1px solid $gray;
        font-size: 0px;

        li {
            cursor: pointer;
            width: 50%;
            display: inline-block;
            font-size: 13px;
            text-align: left;

            span.fa {
                @include transition(0.2, color);
                font-size: 20px;
                width: 30px;
                text-align: center;
                display: inline-block;
                margin-bottom: 5px;
                color: $dgray;
            }

            label {
                @include transition(0.2, color);
                cursor: pointer;
                font-size: 20px;
                font-weight: 100;
                color: $dgray;
            }

            &:hover {
                span.fa, label {
                    color: lighten($dgray, 10);
                }
            }

            &.selected, &.selected:hover {
                span.fa, label {
                    color: $coral;
                }
            }
        }
    }

    #filterWrap{
        padding-bottom: 6px;
        text-align: center;

        #fee-search {
            font-size: 11px;
            color: $dgray;

            .slider {
                width: 150px !important;
                margin: 0px 15px !important;
            }
            .slider-handle {
                background-color: $lgray;
                border: 1px solid $gray;
                border-radius: 8px;
            }
        }
    }

    #resultsWrap {
        @include transition(0.2);
        list-style-type: none;
        margin: 0px;
        padding: 0px;

        &.has-content {
            border: 1px solid $gray;
        }

        li {
            margin: 0px;
            padding: 4px 0px 4px 8px;

            &:hover{
                background-color: lighten($lgray, 4);
            }

            &:nth-child(odd){
                background-color: $lgray;

                &:hover {
                    background-color: darken($lgray, 2);
                }
            }
        }

        h3 {
            color: $dsky;
            font-size: 17px;
            cursor: pointer;
            margin-bottom: 0px;
            margin-top: 0px;
            text-decoration: none;
        }

        .host-info {
            font-size: 11px;
            color: $dgray;
        }
    }

    .host-info {
        display: block;
    }

    #zip-search {
        input {
            width: 110px;
            display: inline-block;
            vertical-align: top;
            margin-right: 15px;
        }
    }
}
/*********
* Calendar
*******/

.calendar-header {
    text-align: center;
    height: 60px;
    padding-top: 22px;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -213px;
    z-index: 1001;

    .arrow-wrap {
        display: block;
    }

    i {
        font-size: 20px;
    }

    h2 {
        width: 240px;
        font-size: 26px;
        font-weight: 300;
        color: white;
        text-transform: uppercase;
    }

    & * {
        color: white;
        display: inline-block;
        margin: 0px 15px;
    }
}

.calendarWrap {
    text-align: center;
}

table.calendar {
    display: inline-block;

    .calendar-row {
        border-bottom:1px solid $gray;

        .calendar-day-head {
            font-weight:300;
            color: $dgray;
            text-align:center;
            width:160px;
            padding:6px 0px;
            font-size: 20px;
            line-height:24px;
        }

        .calendar-day {
            min-height:80px;
            position:relative;
            height: 120px;

            &>span {
                @include transition(0.1);
                color: $dgray;
                font-family: $body-fonts;
                font-weight: 300;
                opacity: 0.7;
            }

            span strong {
                display: block;
            }

            &.booked-you {
                background: #eceff5;
            }

            &:hover {
                background: #eceff5;

                &>span {
                    opacity: 0.9;
                }

                .day-icon-bar {
                    &>.icon {
                        opacity: .8;
                        i {
                            opacity: .8;
                        }
                    }
                }
            }

            .day-number {
                position: absolute;
                background: 0 0;
                top: -5px;
                right: 0px;
                text-align: right !important;
                padding: 5px;
                color: $dgray;
                width: 50px;
            }
        }

        .calendar-day-np {
            background: $lgray;
            min-height:80px;
            height: 80px;
        }
        .calendar-day,
        .calendar-day-np {
            width:120px;
            border-right:1px solid $gray;
            &:first-child {
                border-left:1px solid $gray;
            }
        }

        .day-icon-bar {
            @include box-sizing(content);
            width: 100%;
            font-size: 0px;
            position: absolute;
            bottom: 0px;
            right: 0px;
            left: 0px;
            text-align: right;

            &>.icon {
                @include transition(0.1);
                text-align: center;
                width: 30px;
                height: 28px;
                padding-top: 3px;
                border-radius: 3px;
                margin: 0px 3px 3px 0px;
                display: inline-block;
                font-size: 16px;
                cursor: pointer;
                color: white;
                opacity: .6;

                i {
                    opacity: .5;
                }

                &.more-info {
                    display: none;
                }

                &.i-sky {
                    background-color: $sky;
                    color: white;
                    &:hover {
                        background-color: lighten($sky, 7);
                    }
                }
                &.i-yellow {
                    background-color: $yellow;
                    color: white;
                    &:hover {
                        background-color: lighten($yellow, 7);
                    }
                }
                &.i-coral {
                    background-color: $coral;
                    color: white;
                    &:hover {
                        background-color: lighten($coral, 7);
                    }
                }
                &.i-gray {
                    background-color: $gray;
                    color: $dgray;
                    &:hover {
                        background-color: lighten($gray, 7);
                    }
                }
                &.i-dgray {
                    background-color: $dgray;
                    color: white;
                    &:hover {
                        background-color: lighten($dgray, 7);
                    }
                }
            }

            &.i2 {
            }
            &.i3 {
            }
        }
    }
}

/*********
* Footer
*******/

/*********
* Signup
*******/
.user-signup {

    #signupWrap {
        overflow: hidden;
        height: auto;
        max-height: 600px;
        @include transition(.7, all);

        &.reloading {
            max-height: 0px;
        }
    }

    label.radio.inline {
        display: inline-block;
        width: 49%;
        padding-left: 20px;
        box-sizing: border-box;
    }
}

/*********
* New Host
*******/

#newHostWrap {
    overflow: hidden;
    height: auto;
    max-height: 600px;
    @include transition(.7, all);

    &.reloading {
        max-height: 0px;
    }
}

/*********
* Modal
*******/

.modal-overlay {
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 10000;
    text-align: center;

    .modal-box {
        display: inline-block;
        float: none;
        text-align: left;
        margin-top: 20%;
        position: relative;

        .exit-x {
            position: absolute;
            z-index: 1000;
            top: 20px;
            right: 20px;
            cursor: pointer;
            color: $dgray;
            @include transition(0.3);

            &:hover, &:active {
                color: $coral;
            }
        }

        #modalMessage {
            padding-left: 15px;
            position: relative;
            top: 30px;
            opacity: 0;
            display: none;
            color: green;
            @include transition(.3);

            &.shown {
                top: 0px;
                opacity: 1;
                display: inline-block;
            }
        }
    }
}

.modal-radio-group {
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;

    label.inline {
        padding-left: 20px;
    }
}

/*********
* User Mgmt
*******/

.user-list {
    list-style: none;
    padding: 0px;
    border: 1px solid $gray;

    & > li:not(.individual-user) {
        padding: 10px 0px;
        height: auto;
        overflow: hidden;
        cursor: pointer;

        &:nth-child(even) {
            background-color: lighten($lgray, 10%);
            border-top: 1px solid $gray;
            border-bottom: 1px solid $gray;
        }

        &:nth-child(odd) {
            background-color: lighten($gray, 10%);
        }

        span {
            display: inline-block;

            &.edit {
                text-align: right;
                color: $dsky;
            }
            &.show-on-hover {
                display: none;
            }
        }
    }
    li:not(.individual-user):hover, li:not(.individual-user):active {

        &.light {
            background-color: $lgray;
        }

        &.dark {
            background-color: $gray;
        }

        span {
            &.edit {
                text-decoration: underline;
            }
            &.show-on-hover {
                display: inline-block;
            }
            &.edit-pencil {
                margin-right: 10px;
            }
        }
    }
    .individual-user {
        cursor: auto;
        position: relative;
        padding-bottom: 25px;

        &.light {
            background-color: lighten($lgray, 10%);
            border-top: 1px solid $gray;
            border-bottom: 1px solid $gray;
        }

        &.dark {
            background-color: lighten($gray, 10%);
        }

        .exit-x {
            position: absolute;
            z-index: 1000;
            top: 20px;
            right: 20px;
            cursor: pointer;
            color: $dgray;
            @include transition(0.3);

            &:hover, &:active {
                color: $coral;
            }
        }

        ul {
            padding: 0px;
            list-style: none;

            li {
                height: 40px;
                padding: 10px 0px 0px 0px;
                box-sizing: content-box;
                cursor: auto;

                &.user-title {
                    height: auto;
                    padding-left: 44px;
                    padding-bottom: 20px;
                    overflow: hidden;
                }

                h3 {
                    margin-top: 0px;
                    color: $dgray;
                }
                span {
                    height: 100%;
                }
                .user-label {
                    height: 20px;
                    text-align: left;
                    color: #6f6f6f;
                    box-sizing: content-box;
                    padding: 10px 0px;
                }
            }
        }
    }
}

/*********
* Host Mgmt
*******/

.host-list {
    list-style: none;
    padding: 0px;
    border: 1px solid $gray;

    & > li:not(.individual-host) {
        padding: 10px 0px;
        height: auto;
        overflow: hidden;
        cursor: pointer;

        &:nth-child(even) {
            background-color: lighten($lgray, 10%);
            border-top: 1px solid $gray;
            border-bottom: 1px solid $gray;
        }

        &:nth-child(odd) {
            background-color: lighten($gray, 10%);
        }

        span {
            display: inline-block;

            &.hostname, &.email {
                color: $dgray;
            }

            &.edit {
                text-align: right;
                color: $dsky;
            }
            &.show-on-hover {
                display: none;
            }
        }
    }
    li:not(.individual-host):hover, li:not(.individual-host):active {

        &.light {
            background-color: $lgray;
        }

        &.dark {
            background-color: $gray;
        }

        span {
            &.edit {
                text-decoration: underline;
            }
            &.show-on-hover {
                display: inline-block;
            }
            &.edit-pencil {
                margin-right: 10px;
            }
        }
    }
    .individual-host {
        cursor: auto;
        position: relative;
        padding-bottom: 25px;

        &.light {
            background-color: lighten($lgray, 10%);
            border-top: 1px solid $dgray;
            border-bottom: 1px solid $dgray;
        }

        &.dark {
            background-color: lighten($gray, 10%);
        }

        .exit-x {
            position: absolute;
            z-index: 1000;
            top: 20px;
            right: 20px;
            cursor: pointer;
            color: $dgray;
            @include transition(0.3);

            &:hover, &:active {
                color: $coral;
            }
        }

        ul {
            padding: 0px;
            list-style: none;

            li {
                height: 40px;
                padding: 10px 0px 0px 0px;
                box-sizing: content-box;
                cursor: auto;

                &.host-title {
                    height: auto;
                    padding-left: 44px;
                    padding-bottom: 20px;
                    overflow: hidden;
                }

                h3 {
                    margin-top: 0px;
                    color: $dgray;
                }
                span {
                    height: 100%;
                }
                .host-label {
                    height: 20px;
                    text-align: left;
                    color: #6f6f6f;
                    box-sizing: content-box;
                    padding: 10px 0px;
                }
            }
        }
    }
}