//Font size
$em: 10px;

//Fonts
//$header-fonts: ;
$body-fonts: 'Open Sans', Arial, Helvetica, sans-serif;

//Colors
$coral: #f6655b;
$sky: #18cde8;
$lsky: #C2EDF3;
$dsky: #2B97A7;
$gray: #c9c9c9;
$lgray: #ebebeb;
$dgray: #6f6f6f;
$yellow: #F7E074;

//Color Assignment