/*
 *  Forte Leadership by Thomas Peduto
 *  Web Developer, Star Group
 *  tpeduto@stargroup1.com
 */

//Reset and variables
@import "_reset";
@import "_bootstrap-plugins";
@import "_mixins";
@import "_vars";
@import "_delete";

//Base styles for all devices
@import "_base";

//Styles for landscape phone
@media only screen and (min-width : 480px){
	@import "_480up";
}

//Styles for tablet portrait
@media only screen and (min-width : 768px){
	@import "_768up";
}

//Styles for tablet landscape
@media only screen and (min-width : 1024px){
	@import "_1024up";
}

//Styles for computer screens
@media only screen and (min-width : 1280px){
	@import "_1280up";
}

//Styles for very large computer screens
@media only screen and (min-width : 1600px){
	@import "_1600up";
}

//Styles for Portrait phone
@media only print {
	@import "_print";
}

.ie8 {
	@import "_ie8";
}