<!-- views/profile-admin.ejs -->
<%- include partials/header.ejs %>
    <body>
        <div class="main-wrap">
            <div class="main">
                <div class="center-main">
                    <div class="sidebar col-sm-3">
                        <h2 class='sidebar-title'>Set Availability</h2>
                        <div class='inner-sidebar'>
                            <div class="form-group">
                                <label for="selectedHost">Set Availability For:</label>
                                <select class="form-control" id="selectedHost" name="selectedHost">
                                <% for (var i = 0; i < serverData.hosts.length; i++) { %>
                                    <option value="<%= serverData.hosts[i]._id %>"><%= serverData.hosts[i].company.name %></option>
                                <% } %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="startTime">Set Availability Start Time:</label>
                                <select class="form-control" id="startTime" name="startTime">
                                    <option value="" selected="selected">Select a Start Time</option>
                                    <option value="8">8 AM</option>
                                    <option value="9">9 AM</option>
                                    <option value="10">10 AM</option>
                                    <option value="11">11 AM</option>
                                    <option value="12">12 PM</option>
                                    <option value="13">1 PM</option>
                                    <option value="14">2 PM</option>
                                    <option value="15">3 PM</option>
                                    <option value="13">4 PM</option>
                                    <option value="14">5 PM</option>
                                    <option value="15">6 PM</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="endTime">Set Availability End Time:</label>
                                <select class="form-control" id="endTime" name="endTime">
                                    <option value="" selected="selected">Select a End Time</option>
                                    <option value="8">8 AM</option>
                                    <option value="9">9 AM</option>
                                    <option value="10">10 AM</option>
                                    <option value="11">11 AM</option>
                                    <option value="12">12 PM</option>
                                    <option value="13">1 PM</option>
                                    <option value="14">2 PM</option>
                                    <option value="15">3 PM</option>
                                    <option value="13">4 PM</option>
                                    <option value="14">5 PM</option>
                                    <option value="15">6 PM</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="calendar-header">
                            <span id="changeMonthNext" class="changeMonth" data-direction="prev"><i class="fa fa-chevron-left"></i></span>
                            <h2 class="monthName" id="monthName"><%- calendarHeading %></h2>
                            <span id="changeMonthPrev" class="changeMonth" data-direction="next"><i class="fa fa-chevron-right"></i></span>
                    </div>
                    <div data-calendar-view="1" class="calendarWrap">
                        <%- calendar %>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <!-- VENDOR -->
    <script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/moment/min/moment.min.js"</script>
    <script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrapValidator/dist/js/bootstrapValidator.min.js"></script>
    <!-- MODELS -->
    <script type="text/javascript" src="/js/model/frModel.Reference.min.js"></script>
    <script type="text/javascript" src="/js/model/frModel.Calendar.min.js"></script>
    <!-- CONTROLLERS -->
    <script type="text/javascript" src="/js/controller/frController.NavSidebar.min.js"></script>
    <script type="text/javascript" src="/js/controller/frController.AdminSetAvailability.min.js"></script>
    <!-- SCRIPTS -->
    <script type="text/javascript">
        var serverData = <%- JSONdata %>;
    </script>
</html>
