<!-- views/signup.ejs -->
<%- include partials/header.ejs %>
    <body class="user-signup">
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <h1><span class="fa fa-sign-in"></span> Signup</h1>

                <!-- show any messages that come back with authentication -->
                    <div class="alert alert-danger"><%= message %></div>

                <!-- SIGNUP FORM -->
                <div class="ajax-form" id="signupWrap">
                    <form
                    enctype="multipart/form-data"
                    action="/signup-basic"
                    method="post"
                    id="signupForm1"
                    class="signupForm">

                        <div class="form-group">
                            <input placeholder="Email Address" type="email" class="form-control" id="email" name="email" autocomplete="off">
                        </div>

                        <div class="form-group">
                            <input placeholder="Password" type="password" class="form-control" id="password" name="password" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <input placeholder="Confirm Password" type="password" class="form-control" id="cpassword" name="cpassword" autocomplete="off">
                        </div>

                        <div class="form-group">
                            <input placeholder="First Name" type="text" class="form-control" id="firstName" name="firstName" autocomplete="off">
                        </div>

                        <div class="form-group">
                            <input placeholder="Last Name" type="text" class="form-control" id="lastName" name="lastName" autocomplete="off">
                        </div>

                        <div class="form-group">
                            <input placeholder="Primary Phone" type="tel" class="form-control" id="phone" name="phone" autocomplete="off">
                        </div>

                        <input type="hidden" class="form-control" id="accountType" name="accountType" value="1" autocomplete="off">
                        <button id="signupButton" type="submit" name="submit" class="btn btn-primary btn-lg">Register</button>
                    </form>
                </div>
                <hr>

                <p>Already have an account? <a href="/login">Login</a></p>
                <p>Or go <a href="/">home</a>.</p>
            </div>
        </div>
    <!-- VENDOR -->
    <script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/moment/min/moment.min.js"</script>
    <script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrapValidator/dist/js/bootstrapValidator.min.js"></script>
    <!-- MODELS -->
    <script type="text/javascript" src="/js/model/frModel.Reference.min.js"></script>
    <!-- CONTROLLERS -->
    <script type="text/javascript" src="/js/controller/frController.SignUp.min.js"></script>

    </body>
</html>
