<!-- views/login.ejs -->
<%- include partials/header.ejs %>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <h1><span class="fa fa-sign-in"></span> Reset Password</h1>
                <form id="reset_pw_form">
                    <div class="form-group">
                        <label>Enter New Password</label>
                        <input id="password" type="password" class="form-control" name="password">
                    </div>
                    <div class="form-group">
                        <label>Re-enter New Password</label>
                        <input id="cpassword" type="password" class="form-control" name="cpassword">
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg">Submit</button>
                </form>
            </div>
        </div>
    </body>
    <!-- VENDOR -->
    <script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrapValidator/dist/js/bootstrapValidator.min.js"></script>
    <!-- CONTROLLERS -->
    <script type="text/javascript" src="/js/controller/frController.Reset.min.js"></script>
    <script type="text/javascript">
        var serverData = <%- JSONdata %>;
    </script>
</html>
