/*
 *  Forte Leadership by Thomas Peduto
 *  Web Developer, Star Group
 *  tpeduto@stargroup1.com
 */
/*
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bootstrap-datetimepicker-widget {
  top: 0;
  left: 0;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 3000;
  border-radius: 4px;
}

.bootstrap-datetimepicker-widget:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}

.bootstrap-datetimepicker-widget:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  position: absolute;
  top: -6px;
  left: 7px;
}

.bootstrap-datetimepicker-widget.pull-right:before {
  left: auto;
  right: 6px;
}

.bootstrap-datetimepicker-widget.pull-right:after {
  left: auto;
  right: 7px;
}

.bootstrap-datetimepicker-widget > ul {
  list-style-type: none;
  margin: 0;
}

.bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-second {
  width: 100%;
  font-weight: bold;
  font-size: 1.2em;
}

.bootstrap-datetimepicker-widget table[data-hour-format="12"] .separator {
  width: 4px;
  padding: 0;
  margin: 0;
}

.bootstrap-datetimepicker-widget .datepicker > div {
  display: none;
}

.bootstrap-datetimepicker-widget .picker-switch {
  text-align: center;
}

.bootstrap-datetimepicker-widget table {
  width: 100%;
  margin: 0;
}

.bootstrap-datetimepicker-widget td, .bootstrap-datetimepicker-widget th {
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.bootstrap-datetimepicker-widget td.day:hover, .bootstrap-datetimepicker-widget td.hour:hover, .bootstrap-datetimepicker-widget td.minute:hover, .bootstrap-datetimepicker-widget td.second:hover {
  background: #eee;
  cursor: pointer;
}

.bootstrap-datetimepicker-widget td.old, .bootstrap-datetimepicker-widget td.new {
  color: #999;
}

.bootstrap-datetimepicker-widget td.active, .bootstrap-datetimepicker-widget td.active:hover {
  color: #fff;
  background-color: #006dcc;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0088cc), to(#0044cc));
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);
  border-color: #04c #04c #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #04c;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.bootstrap-datetimepicker-widget td.active:hover, .bootstrap-datetimepicker-widget td.active:hover:hover, .bootstrap-datetimepicker-widget td.active:active, .bootstrap-datetimepicker-widget td.active:hover:active, .bootstrap-datetimepicker-widget td.active.active, .bootstrap-datetimepicker-widget td.active:hover.active, .bootstrap-datetimepicker-widget td.active.disabled, .bootstrap-datetimepicker-widget td.active:hover.disabled, .bootstrap-datetimepicker-widget td.active[disabled], .bootstrap-datetimepicker-widget td.active:hover[disabled] {
  color: #fff;
  background-color: #04c;
  *background-color: #003bb3;
}

.bootstrap-datetimepicker-widget td.active:active, .bootstrap-datetimepicker-widget td.active:hover:active, .bootstrap-datetimepicker-widget td.active.active, .bootstrap-datetimepicker-widget td.active:hover.active {
  background-color: #039 \9;
}

.bootstrap-datetimepicker-widget td.disabled, .bootstrap-datetimepicker-widget td.disabled:hover {
  background: 0;
  color: #999;
  cursor: not-allowed;
}

.bootstrap-datetimepicker-widget td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  border-radius: 4px;
}

.bootstrap-datetimepicker-widget td span:hover {
  background: #eee;
}

.bootstrap-datetimepicker-widget td span.active {
  color: #fff;
  background-color: #006dcc;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0088cc), to(#0044cc));
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);
  border-color: #04c #04c #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #04c;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.bootstrap-datetimepicker-widget td span.active:hover, .bootstrap-datetimepicker-widget td span.active:active, .bootstrap-datetimepicker-widget td span.active.active, .bootstrap-datetimepicker-widget td span.active.disabled, .bootstrap-datetimepicker-widget td span.active[disabled] {
  color: #fff;
  background-color: #04c;
  *background-color: #003bb3;
}

.bootstrap-datetimepicker-widget td span.active:active, .bootstrap-datetimepicker-widget td span.active.active {
  background-color: #039 \9;
}

.bootstrap-datetimepicker-widget td span.old {
  color: #999;
}

.bootstrap-datetimepicker-widget td span.disabled, .bootstrap-datetimepicker-widget td span.disabled:hover {
  background: 0;
  color: #999;
  cursor: not-allowed;
}

.bootstrap-datetimepicker-widget th.switch {
  width: 145px;
}

.bootstrap-datetimepicker-widget th.next, .bootstrap-datetimepicker-widget th.prev {
  font-size: 21px;
}

.bootstrap-datetimepicker-widget th.disabled, .bootstrap-datetimepicker-widget th.disabled:hover {
  background: 0;
  color: #999;
  cursor: not-allowed;
}

.bootstrap-datetimepicker-widget thead tr:first-child th {
  cursor: pointer;
}

.bootstrap-datetimepicker-widget thead tr:first-child th:hover {
  background: #eee;
}

.input-append.date .add-on i, .input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.bootstrap-datetimepicker-widget.left-oriented:before {
  left: auto;
  right: 6px;
}

.bootstrap-datetimepicker-widget.left-oriented:after {
  left: auto;
  right: 7px;
}

/*
* @copyright Copyright &copy; Kartik Visweswaran, Krajee.com, 2013
* @package yii2-widgets
* @version 1.6.0
*
* File input styling for Bootstrap 3.0
* Built for Yii Framework 2.0
* Author: Kartik Visweswaran
* Year: 2013
* For more Yii related demos visit http://demos.krajee.com
*/
.file-loading {
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  font-size: 999px;
  text-align: right;
  color: #fff;
  background: transparent url("../img/loading.gif") top left no-repeat;
  border: none;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

.file-caption-disabled {
  background-color: #EEEEEE;
  cursor: not-allowed;
  opacity: 1;
}

.file-input .btn[disabled], .file-input .btn .disabled {
  cursor: not-allowed;
}

.file-preview {
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 5px;
  width: 100%;
  margin-bottom: 5px;
}

.file-preview-frame {
  display: table;
  margin: 8px;
  height: 160px;
  border: 1px solid #ddd;
  -webkit-box-shadow: 1px 1px 5px 0px #a2958a;
  box-shadow: 1px 1px 5px 0px #a2958a;
  padding: 6px;
  float: left;
  text-align: center;
}

.file-preview-frame:hover {
  background-color: #eee;
  -webkit-box-shadow: 2px 2px 5px 0px #333;
  box-shadow: 2px 2px 5px 0px #333;
}

.file-preview-image {
  height: 150px;
  vertical-align: text-center;
}

.file-preview-text {
  display: table-cell;
  width: 150px;
  height: 150px;
  color: #428bca;
  font-size: 11px;
  vertical-align: middle;
  text-align: center;
}

.file-preview-other {
  display: table-cell;
  width: 150px;
  height: 150px;
  font-family: Monaco, Consolas, monospace;
  font-size: 11px;
  vertical-align: middle;
  text-align: center;
}

.file-input-new .file-preview, .file-input-new .close, .file-input-new .glyphicon-file, .file-input-new .fileinput-remove-button, .file-input-new .fileinput-upload-button {
  display: none;
}

.loading {
  background: transparent url("../img/loading.gif") no-repeat scroll center center content-box !important;
}

.wrap-indicator {
  font-weight: bold;
  color: #245269;
  cursor: pointer;
}

/*
 * bootstrap-select v1.5.4
 * http://silviomoreto.github.io/bootstrap-select/
 *
 * Copyright 2013 bootstrap-select
 * Licensed under the MIT license
 */
.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*="span"] {
  float: none;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 0;
}

.form-search .bootstrap-select.btn-group,
.form-inline .bootstrap-select.btn-group,
.form-horizontal .bootstrap-select.btn-group {
  margin-bottom: 0;
}

.bootstrap-select.form-control {
  margin-bottom: 0;
  padding: 0;
  border: none;
}

.bootstrap-select.btn-group.pull-right,
.bootstrap-select.btn-group[class*="span"].pull-right,
.row-fluid .bootstrap-select.btn-group[class*="span"].pull-right {
  float: right;
}

.input-append .bootstrap-select.btn-group {
  margin-left: -1px;
}

.input-prepend .bootstrap-select.btn-group {
  margin-right: -1px;
}

.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 220px;
}

.bootstrap-select {
  /*width: 220px\9; IE8 and below*/
  width: 220px\0;
  /*IE9 and below*/
}

.bootstrap-select.form-control:not([class*="span"]) {
  width: 100%;
}

.bootstrap-select > .btn {
  width: 100%;
  padding-right: 25px;
}

.error .bootstrap-select .btn {
  border: 1px solid #b94a48;
}

.bootstrap-select.show-menu-arrow.open > .btn {
  z-index: 2051;
}

.bootstrap-select .btn:focus {
  outline: thin dotted #333333 !important;
  outline: 5px auto -webkit-focus-ring-color !important;
  outline-offset: -2px;
}

.bootstrap-select.btn-group .btn .filter-option {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  float: left;
  text-align: left;
}

.bootstrap-select.btn-group .btn .caret {
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -2px;
  vertical-align: middle;
}

.bootstrap-select.btn-group > .disabled,
.bootstrap-select.btn-group .dropdown-menu li.disabled > a {
  cursor: not-allowed;
}

.bootstrap-select.btn-group > .disabled:focus {
  outline: none !important;
}

.bootstrap-select.btn-group[class*="span"] .btn {
  width: 100%;
}

.bootstrap-select.btn-group .dropdown-menu {
  min-width: 100%;
  z-index: 2000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bootstrap-select.btn-group .dropdown-menu.inner {
  position: static;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.bootstrap-select.btn-group .dropdown-menu dt {
  display: block;
  padding: 3px 20px;
  cursor: default;
}

.bootstrap-select.btn-group .div-contain {
  overflow: hidden;
}

.bootstrap-select.btn-group .dropdown-menu li {
  position: relative;
}

.bootstrap-select.btn-group .dropdown-menu li > a.opt {
  position: relative;
  padding-left: 35px;
}

.bootstrap-select.btn-group .dropdown-menu li > a {
  cursor: pointer;
}

.bootstrap-select.btn-group .dropdown-menu li > dt small {
  font-weight: normal;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a i.check-mark {
  position: absolute;
  display: inline-block;
  right: 15px;
  margin-top: 2.5px;
}

.bootstrap-select.btn-group .dropdown-menu li a i.check-mark {
  display: none;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
  margin-right: 34px;
}

.bootstrap-select.btn-group .dropdown-menu li small {
  padding-left: 0.5em;
}

.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) > a:hover small,
.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) > a:focus small,
.bootstrap-select.btn-group .dropdown-menu li.active:not(.disabled) > a small {
  color: #64b1d8;
  color: rgba(255, 255, 255, 0.4);
}

.bootstrap-select.btn-group .dropdown-menu li > dt small {
  font-weight: normal;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: -4px;
  left: 9px;
  display: none;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  bottom: -4px;
  left: 10px;
  display: none;
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
  bottom: auto;
  top: -3px;
  border-top: 7px solid #ccc;
  border-bottom: 0;
  border-top-color: rgba(0, 0, 0, 0.2);
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
  bottom: auto;
  top: -3px;
  border-top: 6px solid #ffffff;
  border-bottom: 0;
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
  right: 12px;
  left: auto;
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
  right: 13px;
  left: auto;
}

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before,
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after {
  display: block;
}

.bootstrap-select.btn-group .no-results {
  padding: 3px;
  background: #f5f5f5;
  margin: 0 5px;
}

.bootstrap-select.btn-group .dropdown-menu .notify {
  position: absolute;
  bottom: 5px;
  width: 96%;
  margin: 0 2%;
  min-height: 26px;
  padding: 3px 5px;
  background: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  pointer-events: none;
  opacity: 0.9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mobile-device {
  position: absolute;
  top: 0;
  left: 0;
  display: block !important;
  width: 100%;
  height: 100% !important;
  opacity: 0;
}

.bootstrap-select.fit-width {
  width: auto !important;
}

.bootstrap-select.btn-group.fit-width .btn .filter-option {
  position: static;
}

.bootstrap-select.btn-group.fit-width .btn .caret {
  position: static;
  top: auto;
  margin-top: -1px;
}

.control-group.error .bootstrap-select .dropdown-toggle {
  border-color: #b94a48;
}

.bootstrap-select-searchbox,
.bootstrap-select .bs-actionsbox {
  padding: 4px 8px;
}

.bootstrap-select .bs-actionsbox {
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bootstrap-select-searchbox + .bs-actionsbox {
  padding: 0 8px 4px;
}

.bootstrap-select-searchbox input {
  margin-bottom: 0;
}

.bootstrap-select .bs-actionsbox .btn-group button {
  width: 50%;
}

/* ========================================================================
 * bootstrap-switch - v3.0.2
 * http://www.bootstrap-switch.org
 * ========================================================================
 * Copyright 2012-2013 Mattia Larentis
 *
 * ========================================================================
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================================
 */
.bootstrap-switch {
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid;
  border-color: #cccccc;
  position: relative;
  text-align: left;
  overflow: hidden;
  line-height: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  min-width: 100px;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.bootstrap-switch.bootstrap-switch-mini {
  min-width: 71px;
}

.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
  padding-bottom: 4px;
  padding-top: 4px;
  font-size: 10px;
  line-height: 9px;
}

.bootstrap-switch.bootstrap-switch-small {
  min-width: 79px;
}

.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-label {
  padding-bottom: 3px;
  padding-top: 3px;
  font-size: 12px;
  line-height: 18px;
}

.bootstrap-switch.bootstrap-switch-large {
  min-width: 120px;
}

.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-label {
  padding-bottom: 9px;
  padding-top: 9px;
  font-size: 16px;
  line-height: normal;
}

.bootstrap-switch.bootstrap-switch-animate .bootstrap-switch-container {
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
}

.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-container {
  margin-left: 0%;
}

.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-label {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-container {
  margin-left: -50%;
}

.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-container {
  margin-left: -25%;
}

.bootstrap-switch.bootstrap-switch-disabled,
.bootstrap-switch.bootstrap-switch-readonly,
.bootstrap-switch.bootstrap-switch-indeterminate {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default !important;
}

.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-label {
  cursor: default !important;
}

.bootstrap-switch.bootstrap-switch-focused {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.bootstrap-switch .bootstrap-switch-container {
  display: inline-block;
  width: 150%;
  top: 0;
  border-radius: 4px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block !important;
  height: 100%;
  padding-bottom: 4px;
  padding-top: 4px;
  font-size: 14px;
  line-height: 20px;
}

.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off {
  text-align: center;
  z-index: 1;
  width: 33.333333333%;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  color: #fff;
  background: #428bca;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-info {
  color: #fff;
  background: #5bc0de;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success {
  color: #fff;
  background: #5cb85c;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-warning,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-warning {
  background: #f0ad4e;
  color: #fff;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger {
  color: #fff;
  background: #d9534f;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
  color: #000;
  background: #eeeeee;
}

.bootstrap-switch .bootstrap-switch-handle-on {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.bootstrap-switch .bootstrap-switch-handle-off {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.bootstrap-switch .bootstrap-switch-label {
  text-align: center;
  margin-top: -1px;
  margin-bottom: -1px;
  z-index: 100;
  width: 33.333333333%;
  color: #333333;
  background: #ffffff;
}

.bootstrap-switch input[type='radio'],
.bootstrap-switch input[type='checkbox'] {
  position: absolute !important;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1;
}

.bootstrap-switch input[type='radio'].form-control,
.bootstrap-switch input[type='checkbox'].form-control {
  height: auto;
}

/* ===========================================================
# bootstrap-tour - v0.9.3
# http://bootstraptour.com
# ==============================================================
# Copyright 2012-2013 Ulrich Sossou
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
*/
.tour-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1100;
  background-color: #000;
  opacity: 0.8;
}

.tour-step-backdrop {
  position: relative;
  z-index: 1101;
  background: inherit;
}

.tour-step-background {
  position: absolute;
  z-index: 1100;
  background: inherit;
  border-radius: 6px;
}

.popover[class*="tour-"] {
  z-index: 1100;
}

.popover[class*="tour-"] .popover-navigation {
  padding: 9px 14px;
}

.popover[class*="tour-"] .popover-navigation *[data-role="end"] {
  float: right;
}

.popover[class*="tour-"] .popover-navigation *[data-role="prev"],
.popover[class*="tour-"] .popover-navigation *[data-role="next"],
.popover[class*="tour-"] .popover-navigation *[data-role="end"] {
  cursor: pointer;
}

.popover[class*="tour-"] .popover-navigation *[data-role="prev"].disabled,
.popover[class*="tour-"] .popover-navigation *[data-role="next"].disabled,
.popover[class*="tour-"] .popover-navigation *[data-role="end"].disabled {
  cursor: default;
}

.popover[class*="tour-"].orphan {
  position: fixed;
  margin-top: 0;
}

.popover[class*="tour-"].orphan .arrow {
  display: none;
}

/**
 * BootstrapValidator (http://bootstrapvalidator.com)
 *
 * The best jQuery plugin to validate form fields. Designed to use with Bootstrap 3
 *
 * @author      http://twitter.com/nghuuphuoc
 * @copyright   (c) 2013 - 2014 Nguyen Huu Phuoc
 * @license     MIT
 */
.bv-form .help-block {
  margin-bottom: 0;
}

.nav-tabs li.bv-tab-success > a {
  color: #3c763d;
}

.nav-tabs li.bv-tab-error > a {
  color: #a94442;
}

/*
 * Slider for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.slider {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-bottom: 10px;
}

.slider[class*="span"] {
  float: none;
  margin-left: 0;
}

.slider-horizontal {
  width: 210px;
  height: 20px;
}

.slider-horizontal .slider-handle-container,
.slider-horizontal .slider-track {
  height: 10px;
  margin-top: -5px;
  top: 50%;
}

.slider-horizontal .slider-track {
  left: 0;
  right: 0;
}

.slider-horizontal .slider-handle-container {
  left: 10px;
  right: 10px;
}

.slider-horizontal .slider-selection {
  height: 100%;
  top: 0;
  bottom: 0;
}

.slider-horizontal .slider-handle {
  margin-left: -10px;
  margin-top: -5px;
}

.slider-vertical {
  height: 210px;
  width: 20px;
}

.slider-vertical .slider-handle-container,
.slider-vertical .slider-track {
  width: 10px;
  margin-left: -5px;
  left: 50%;
}

.slider-vertical .slider-track {
  top: 0;
  bottom: 0;
}

.slider-vertical .slider-handle-container {
  top: 10px;
  bottom: 10px;
}

.slider-vertical .slider-selection {
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}

.slider-vertical .slider-handle {
  margin-left: -5px;
  margin-top: -10px;
}

.slider input,
.slider input[class*="span"] {
  display: none;
}

.slider .tooltip-inner {
  white-space: nowrap;
}

.slider-handle-container {
  position: absolute;
}

.slider-track {
  position: absolute;
  cursor: pointer;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(whitesmoke), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, whitesmoke, #f9f9f9);
  background-image: -webkit-gradient(linear, left top, left bottom, from(whitesmoke), to(#f9f9f9));
  background-image: linear-gradient(to bottom, whitesmoke, #f9f9f9);
  background-repeat: repeat-x;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.slider-selection {
  position: absolute;
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0), to(#e0e0e0));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#e0e0e0));
  background-image: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 20px;
}

.slider-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.slider-knob {
  width: 20px;
  height: 20px;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(white));
  background-image: -webkit-linear-gradient(top, #e6e6e6, white);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(white));
  background-image: linear-gradient(to bottom, #e6e6e6, white);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.slider-handle:active .slider-knob,
.slider-handle:hover .slider-knob {
  background-color: #e6e6e6;
  background-position: 0 5px;
  -webkit-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

/****
 *Box Sizing
 */
/****
 *Alignments
 */
/****
 *Margins
 */
/****
 *Transitions
 */
/****
 *Rotation
 */
/*************
* Outer Containers
**********/
* {
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.bttn {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 7px 14px;
  display: inline-block;
  border-radius: 3px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  cursor: pointer;
  border: 1px;
}

.bttn-primary {
  color: white;
  background-color: #18cde8;
}
.bttn-primary:hover, .bttn-primary:active {
  background-color: #2b97a7;
}

.bttn-secondary {
  color: #18cde8;
  background-color: white;
  border: 1px solid #18cde8;
}
.bttn-secondary:hover, .bttn-secondary:active {
  color: #2b97a7;
  border: 1px solid #2b97a7;
}

h1 {
  color: #6f6f6f;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.left {
  float: left;
}

.right {
  float: right;
}

.header {
  position: relative;
  z-index: 1000;
  height: 76px;
  width: 100%;
  background: #18cde8;
}
.header #logo-wrap {
  display: inline-block;
  width: 25%;
}
.header #logo {
  display: inline-block;
  width: 225px;
  margin-top: 10px;
}
.header #logo svg {
  width: 175px;
  height: 66px;
  top: 10px;
  left: 0px;
  position: fixed;
}
.header #logo svg path {
  fill: white;
}

.nav-sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  padding-top: 90px;
  width: 175px;
  height: 100%;
  z-index: 100;
}
.nav-sidebar #logo-dark {
  display: inline-block;
  width: 225px;
  margin-top: 10px;
}
.nav-sidebar #logo-dark svg {
  width: 175px;
  height: 66px;
  top: 10px;
  left: 0px;
  position: fixed;
}
.nav-sidebar #logo-dark svg path {
  fill: #6f6f6f;
}
.nav-sidebar.light {
  background-color: #ebebeb;
}
.nav-sidebar .parent-list .list-item a {
  color: #6f6f6f;
  font-size: 22px;
  letter-spacing: .06em;
  line-height: 1em;
  font-weight: 300;
  text-decoration: none;
}
.nav-sidebar .parent-list .list-item i {
  width: 30px;
  text-align: center;
}
.nav-sidebar .parent-list .list-item i.more {
  color: #c2c2c2;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 0.8em;
  margin-top: 0.3em;
}
.nav-sidebar .parent-list .list-item i.more.turnt {
  -webkit-transform: rotate(90deg) translate(0px, 0px);
  -ms-transform: rotate(90deg) translate(0px, 0px);
  transform: rotate(90deg) translate(0px, 0px);
}
.nav-sidebar .parent-list .child-list {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  list-style-type: none;
  padding-left: 30px;
  overflow-y: hidden;
  background-color: lightgray;
  position: relative;
  left: 0px;
}
.nav-sidebar .parent-list .child-list.expand-2 {
  max-height: 98px;
}
.nav-sidebar .parent-list .child-list.expand-3 {
  max-height: 137px;
}
.nav-sidebar .parent-list .child-list.hiding {
  max-height: 0px !important;
  background-color: transparent;
  left: -400px;
}
.nav-sidebar .parent-list .child-list .list-item {
  padding: 7px 0px;
}
.nav-sidebar .parent-list .child-list .list-item:first-child {
  padding-top: 17px;
}
.nav-sidebar .parent-list .child-list .list-item:last-child {
  padding-bottom: 17px;
}

/*********
* Middle
*******/
.main {
  width: auto;
  display: block;
}
.main .center-main {
  width: 100%;
  max-width: 1126px;
  margin: 0px auto;
}

.main-wrap {
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0px 0px 0px 175px;
}

.sidebar {
  width: 230px;
  margin-right: 20px;
  margin-top: 36px;
  float: right;
  height: 438px;
  padding: 0px;
}
.sidebar .subheader {
  margin: 10px 0px;
  display: block;
  color: #6f6f6f;
}
.sidebar h2.sidebar-title {
  width: 100%;
  background-color: #f6655b;
  border: 1px solid #f6655b;
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  padding: 6px 0px;
  margin: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.sidebar label, .sidebar input, .sidebar select {
  color: #6f6f6f;
}
.sidebar .inner-sidebar {
  padding: 20px 10px;
}
.sidebar .inner-sidebar strong {
  display: block;
}
.sidebar .inner-sidebar span {
  color: #6f6f6f;
}
.sidebar .inner-sidebar .avail-statement {
  color: #6f6f6f;
}
.sidebar .inner-sidebar .availability-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.sidebar .inner-sidebar .availability-list li {
  margin: 5px 0px;
}
.sidebar .inner-sidebar .availability-list h3 {
  color: #18cde8;
  cursor: pointer;
  margin-bottom: 0px;
  text-decoration: underline;
}
.sidebar .inner-sidebar .availability-list .host-info {
  color: #6f6f6f;
}
.sidebar .icon-list {
  padding: 25px 0px 15px 0px;
  list-style: none;
  margin: 0px 0px 20px 0px;
  border-bottom: 1px solid #c9c9c9;
  font-size: 0px;
}
.sidebar .icon-list li {
  cursor: pointer;
  width: 50%;
  display: inline-block;
  font-size: 13px;
  text-align: left;
}
.sidebar .icon-list li span.fa {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  font-size: 20px;
  width: 30px;
  text-align: center;
  display: inline-block;
  margin-bottom: 5px;
  color: #6f6f6f;
}
.sidebar .icon-list li label {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  font-size: 20px;
  font-weight: 100;
  color: #6f6f6f;
}
.sidebar .icon-list li:hover span.fa, .sidebar .icon-list li:hover label {
  color: #898989;
}
.sidebar .icon-list li.selected span.fa, .sidebar .icon-list li.selected label, .sidebar .icon-list li.selected:hover span.fa, .sidebar .icon-list li.selected:hover label {
  color: #f6655b;
}
.sidebar #filterWrap {
  padding-bottom: 6px;
  text-align: center;
}
.sidebar #filterWrap #fee-search {
  font-size: 11px;
  color: #6f6f6f;
}
.sidebar #filterWrap #fee-search .slider {
  width: 150px !important;
  margin: 0px 15px !important;
}
.sidebar #filterWrap #fee-search .slider-handle {
  background-color: #ebebeb;
  border: 1px solid #c9c9c9;
  border-radius: 8px;
}
.sidebar #resultsWrap {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.sidebar #resultsWrap.has-content {
  border: 1px solid #c9c9c9;
}
.sidebar #resultsWrap li {
  margin: 0px;
  padding: 4px 0px 4px 8px;
}
.sidebar #resultsWrap li:hover {
  background-color: whitesmoke;
}
.sidebar #resultsWrap li:nth-child(odd) {
  background-color: #ebebeb;
}
.sidebar #resultsWrap li:nth-child(odd):hover {
  background-color: #e6e6e6;
}
.sidebar #resultsWrap h3 {
  color: #2b97a7;
  font-size: 17px;
  cursor: pointer;
  margin-bottom: 0px;
  margin-top: 0px;
  text-decoration: none;
}
.sidebar #resultsWrap .host-info {
  font-size: 11px;
  color: #6f6f6f;
}
.sidebar .host-info {
  display: block;
}
.sidebar #zip-search input {
  width: 110px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}

/*********
* Calendar
*******/
.calendar-header {
  text-align: center;
  height: 60px;
  padding-top: 22px;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -213px;
  z-index: 1001;
}
.calendar-header .arrow-wrap {
  display: block;
}
.calendar-header i {
  font-size: 20px;
}
.calendar-header h2 {
  width: 240px;
  font-size: 26px;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
}
.calendar-header * {
  color: white;
  display: inline-block;
  margin: 0px 15px;
}

.calendarWrap {
  text-align: center;
}

table.calendar {
  display: inline-block;
}
table.calendar .calendar-row {
  border-bottom: 1px solid #c9c9c9;
}
table.calendar .calendar-row .calendar-day-head {
  font-weight: 300;
  color: #6f6f6f;
  text-align: center;
  width: 160px;
  padding: 6px 0px;
  font-size: 20px;
  line-height: 24px;
}
table.calendar .calendar-row .calendar-day {
  min-height: 80px;
  position: relative;
  height: 120px;
}
table.calendar .calendar-row .calendar-day > span {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #6f6f6f;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  opacity: 0.7;
}
table.calendar .calendar-row .calendar-day span strong {
  display: block;
}
table.calendar .calendar-row .calendar-day.booked-you {
  background: #eceff5;
}
table.calendar .calendar-row .calendar-day:hover {
  background: #eceff5;
}
table.calendar .calendar-row .calendar-day:hover > span {
  opacity: 0.9;
}
table.calendar .calendar-row .calendar-day:hover .day-icon-bar > .icon {
  opacity: .8;
}
table.calendar .calendar-row .calendar-day:hover .day-icon-bar > .icon i {
  opacity: .8;
}
table.calendar .calendar-row .calendar-day .day-number {
  position: absolute;
  background: 0 0;
  top: -5px;
  right: 0px;
  text-align: right !important;
  padding: 5px;
  color: #6f6f6f;
  width: 50px;
}
table.calendar .calendar-row .calendar-day-np {
  background: #ebebeb;
  min-height: 80px;
  height: 80px;
}
table.calendar .calendar-row .calendar-day,
table.calendar .calendar-row .calendar-day-np {
  width: 120px;
  border-right: 1px solid #c9c9c9;
}
table.calendar .calendar-row .calendar-day:first-child,
table.calendar .calendar-row .calendar-day-np:first-child {
  border-left: 1px solid #c9c9c9;
}
table.calendar .calendar-row .day-icon-bar {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  width: 100%;
  font-size: 0px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  text-align: right;
}
table.calendar .calendar-row .day-icon-bar > .icon {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  text-align: center;
  width: 30px;
  height: 28px;
  padding-top: 3px;
  border-radius: 3px;
  margin: 0px 3px 3px 0px;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  color: white;
  opacity: .6;
}
table.calendar .calendar-row .day-icon-bar > .icon i {
  opacity: .5;
}
table.calendar .calendar-row .day-icon-bar > .icon.more-info {
  display: none;
}
table.calendar .calendar-row .day-icon-bar > .icon.i-sky {
  background-color: #18cde8;
  color: white;
}
table.calendar .calendar-row .day-icon-bar > .icon.i-sky:hover {
  background-color: #38d4eb;
}
table.calendar .calendar-row .day-icon-bar > .icon.i-yellow {
  background-color: #f7e074;
  color: white;
}
table.calendar .calendar-row .day-icon-bar > .icon.i-yellow:hover {
  background-color: #f9e896;
}
table.calendar .calendar-row .day-icon-bar > .icon.i-coral {
  background-color: #f6655b;
  color: white;
}
table.calendar .calendar-row .day-icon-bar > .icon.i-coral:hover {
  background-color: #f8857d;
}
table.calendar .calendar-row .day-icon-bar > .icon.i-gray {
  background-color: #c9c9c9;
  color: #6f6f6f;
}
table.calendar .calendar-row .day-icon-bar > .icon.i-gray:hover {
  background-color: #dbdbdb;
}
table.calendar .calendar-row .day-icon-bar > .icon.i-dgray {
  background-color: #6f6f6f;
  color: white;
}
table.calendar .calendar-row .day-icon-bar > .icon.i-dgray:hover {
  background-color: #818181;
}

/*********
* Footer
*******/
/*********
* Signup
*******/
.user-signup #signupWrap {
  overflow: hidden;
  height: auto;
  max-height: 600px;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.user-signup #signupWrap.reloading {
  max-height: 0px;
}
.user-signup label.radio.inline {
  display: inline-block;
  width: 49%;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*********
* New Host
*******/
#newHostWrap {
  overflow: hidden;
  height: auto;
  max-height: 600px;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
#newHostWrap.reloading {
  max-height: 0px;
}

/*********
* Modal
*******/
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 10000;
  text-align: center;
}
.modal-overlay .modal-box {
  display: inline-block;
  float: none;
  text-align: left;
  margin-top: 20%;
  position: relative;
}
.modal-overlay .modal-box .exit-x {
  position: absolute;
  z-index: 1000;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #6f6f6f;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.modal-overlay .modal-box .exit-x:hover, .modal-overlay .modal-box .exit-x:active {
  color: #f6655b;
}
.modal-overlay .modal-box #modalMessage {
  padding-left: 15px;
  position: relative;
  top: 30px;
  opacity: 0;
  display: none;
  color: green;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.modal-overlay .modal-box #modalMessage.shown {
  top: 0px;
  opacity: 1;
  display: inline-block;
}

.modal-radio-group {
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.modal-radio-group label.inline {
  padding-left: 20px;
}

/*********
* User Mgmt
*******/
.user-list {
  list-style: none;
  padding: 0px;
  border: 1px solid #c9c9c9;
}
.user-list > li:not(.individual-user) {
  padding: 10px 0px;
  height: auto;
  overflow: hidden;
  cursor: pointer;
}
.user-list > li:not(.individual-user):nth-child(even) {
  background-color: white;
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
}
.user-list > li:not(.individual-user):nth-child(odd) {
  background-color: #e3e3e3;
}
.user-list > li:not(.individual-user) span {
  display: inline-block;
}
.user-list > li:not(.individual-user) span.edit {
  text-align: right;
  color: #2b97a7;
}
.user-list > li:not(.individual-user) span.show-on-hover {
  display: none;
}
.user-list li:not(.individual-user):hover.light, .user-list li:not(.individual-user):active.light {
  background-color: #ebebeb;
}
.user-list li:not(.individual-user):hover.dark, .user-list li:not(.individual-user):active.dark {
  background-color: #c9c9c9;
}
.user-list li:not(.individual-user):hover span.edit, .user-list li:not(.individual-user):active span.edit {
  text-decoration: underline;
}
.user-list li:not(.individual-user):hover span.show-on-hover, .user-list li:not(.individual-user):active span.show-on-hover {
  display: inline-block;
}
.user-list li:not(.individual-user):hover span.edit-pencil, .user-list li:not(.individual-user):active span.edit-pencil {
  margin-right: 10px;
}
.user-list .individual-user {
  cursor: auto;
  position: relative;
  padding-bottom: 25px;
}
.user-list .individual-user.light {
  background-color: white;
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
}
.user-list .individual-user.dark {
  background-color: #e3e3e3;
}
.user-list .individual-user .exit-x {
  position: absolute;
  z-index: 1000;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #6f6f6f;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.user-list .individual-user .exit-x:hover, .user-list .individual-user .exit-x:active {
  color: #f6655b;
}
.user-list .individual-user ul {
  padding: 0px;
  list-style: none;
}
.user-list .individual-user ul li {
  height: 40px;
  padding: 10px 0px 0px 0px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: auto;
}
.user-list .individual-user ul li.user-title {
  height: auto;
  padding-left: 44px;
  padding-bottom: 20px;
  overflow: hidden;
}
.user-list .individual-user ul li h3 {
  margin-top: 0px;
  color: #6f6f6f;
}
.user-list .individual-user ul li span {
  height: 100%;
}
.user-list .individual-user ul li .user-label {
  height: 20px;
  text-align: left;
  color: #6f6f6f;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 0px;
}

/*********
* Host Mgmt
*******/
.host-list {
  list-style: none;
  padding: 0px;
  border: 1px solid #c9c9c9;
}
.host-list > li:not(.individual-host) {
  padding: 10px 0px;
  height: auto;
  overflow: hidden;
  cursor: pointer;
}
.host-list > li:not(.individual-host):nth-child(even) {
  background-color: white;
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
}
.host-list > li:not(.individual-host):nth-child(odd) {
  background-color: #e3e3e3;
}
.host-list > li:not(.individual-host) span {
  display: inline-block;
}
.host-list > li:not(.individual-host) span.hostname, .host-list > li:not(.individual-host) span.email {
  color: #6f6f6f;
}
.host-list > li:not(.individual-host) span.edit {
  text-align: right;
  color: #2b97a7;
}
.host-list > li:not(.individual-host) span.show-on-hover {
  display: none;
}
.host-list li:not(.individual-host):hover.light, .host-list li:not(.individual-host):active.light {
  background-color: #ebebeb;
}
.host-list li:not(.individual-host):hover.dark, .host-list li:not(.individual-host):active.dark {
  background-color: #c9c9c9;
}
.host-list li:not(.individual-host):hover span.edit, .host-list li:not(.individual-host):active span.edit {
  text-decoration: underline;
}
.host-list li:not(.individual-host):hover span.show-on-hover, .host-list li:not(.individual-host):active span.show-on-hover {
  display: inline-block;
}
.host-list li:not(.individual-host):hover span.edit-pencil, .host-list li:not(.individual-host):active span.edit-pencil {
  margin-right: 10px;
}
.host-list .individual-host {
  cursor: auto;
  position: relative;
  padding-bottom: 25px;
}
.host-list .individual-host.light {
  background-color: white;
  border-top: 1px solid #6f6f6f;
  border-bottom: 1px solid #6f6f6f;
}
.host-list .individual-host.dark {
  background-color: #e3e3e3;
}
.host-list .individual-host .exit-x {
  position: absolute;
  z-index: 1000;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #6f6f6f;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.host-list .individual-host .exit-x:hover, .host-list .individual-host .exit-x:active {
  color: #f6655b;
}
.host-list .individual-host ul {
  padding: 0px;
  list-style: none;
}
.host-list .individual-host ul li {
  height: 40px;
  padding: 10px 0px 0px 0px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: auto;
}
.host-list .individual-host ul li.host-title {
  height: auto;
  padding-left: 44px;
  padding-bottom: 20px;
  overflow: hidden;
}
.host-list .individual-host ul li h3 {
  margin-top: 0px;
  color: #6f6f6f;
}
.host-list .individual-host ul li span {
  height: 100%;
}
.host-list .individual-host ul li .host-label {
  height: 20px;
  text-align: left;
  color: #6f6f6f;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 0px;
}

@media only screen and (min-width: 480px) {
  /*************
  * Outer Containers
  **********/
  /*********
  * Header
  *******/
  /*********
  * Middle
  *******/
  /*********
  * Footer
  *******/
}
@media only screen and (min-width: 768px) {
  /*************
  * Outer Containers
  **********/
  /*********
  * Header
  *******/
  /*********
  * Middle
  *******/
  /*********
  * Footer
  *******/
}
@media only screen and (min-width: 1024px) {
  /*************
  * Outer Containers
  **********/
  /*********
  * Header
  *******/
  /*********
  * Middle
  *******/
  /*********
  * Footer
  *******/
}
@media only screen and (min-width: 1280px) {
  /*************
  * Outer Containers
  **********/
  /*********
  * Header
  *******/
  /*********
  * Middle
  *******/
  /*********
  * Footer
  *******/
}
@media only screen and (min-width: 1600px) {
  /*************
  * Outer Containers
  **********/
  /*********
  * Header
  *******/
  /*********
  * Middle
  *******/
  /*********
  * Footer
  *******/
}
@media only print {
  /**
   *Print Styles
   */
}
.ie8 {
  /*************
  * Outer Containers
  **********/
  /*********
  * Middle
  *******/
  /*********
  * Calendar
  *******/
  /*********
  * Footer
  *******/
  /*********
  * Signup
  *******/
  /*********
  * New Host
  *******/
  /*********
  * Modal
  *******/
  /*********
  * User Mgmt
  *******/
  /*********
  * Host Mgmt
  *******/
  /*************
  * Outer Containers
  **********/
  /*********
  * Header
  *******/
  /*********
  * Middle
  *******/
  /*********
  * Footer
  *******/
  /*************
  * Outer Containers
  **********/
  /*********
  * Header
  *******/
  /*********
  * Middle
  *******/
  /*********
  * Footer
  *******/
  /*************
  * Outer Containers
  **********/
  /*********
  * Header
  *******/
  /*********
  * Middle
  *******/
  /*********
  * Footer
  *******/
  /*************
  * Outer Containers
  **********/
  /*********
  * Header
  *******/
  /*********
  * Middle
  *******/
  /*********
  * Footer
  *******/
  /*************
  * Outer Containers
  **********/
  /*********
  * Header
  *******/
  /*********
  * Middle
  *******/
  /*********
  * Footer
  *******/
}
.ie8 * {
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.ie8 .bttn {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 7px 14px;
  display: inline-block;
  border-radius: 3px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  cursor: pointer;
  border: 1px;
}
.ie8 .bttn-primary {
  color: white;
  background-color: #18cde8;
}
.ie8 .bttn-primary:hover, .ie8 .bttn-primary:active {
  background-color: #2b97a7;
}
.ie8 .bttn-secondary {
  color: #18cde8;
  background-color: white;
  border: 1px solid #18cde8;
}
.ie8 .bttn-secondary:hover, .ie8 .bttn-secondary:active {
  color: #2b97a7;
  border: 1px solid #2b97a7;
}
.ie8 h1 {
  color: #6f6f6f;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.ie8 .left {
  float: left;
}
.ie8 .right {
  float: right;
}
.ie8 .header {
  position: relative;
  z-index: 1000;
  height: 76px;
  width: 100%;
  background: #18cde8;
}
.ie8 .header #logo-wrap {
  display: inline-block;
  width: 25%;
}
.ie8 .header #logo {
  display: inline-block;
  width: 225px;
  margin-top: 10px;
}
.ie8 .header #logo svg {
  width: 175px;
  height: 66px;
  top: 10px;
  left: 0px;
  position: fixed;
}
.ie8 .header #logo svg path {
  fill: white;
}
.ie8 .nav-sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  padding-top: 90px;
  width: 175px;
  height: 100%;
  z-index: 100;
}
.ie8 .nav-sidebar #logo-dark {
  display: inline-block;
  width: 225px;
  margin-top: 10px;
}
.ie8 .nav-sidebar #logo-dark svg {
  width: 175px;
  height: 66px;
  top: 10px;
  left: 0px;
  position: fixed;
}
.ie8 .nav-sidebar #logo-dark svg path {
  fill: #6f6f6f;
}
.ie8 .nav-sidebar.light {
  background-color: #ebebeb;
}
.ie8 .nav-sidebar .parent-list .list-item a {
  color: #6f6f6f;
  font-size: 22px;
  letter-spacing: .06em;
  line-height: 1em;
  font-weight: 300;
  text-decoration: none;
}
.ie8 .nav-sidebar .parent-list .list-item i {
  width: 30px;
  text-align: center;
}
.ie8 .nav-sidebar .parent-list .list-item i.more {
  color: #c2c2c2;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 0.8em;
  margin-top: 0.3em;
}
.ie8 .nav-sidebar .parent-list .list-item i.more.turnt {
  -webkit-transform: rotate(90deg) translate(0px, 0px);
  -ms-transform: rotate(90deg) translate(0px, 0px);
  transform: rotate(90deg) translate(0px, 0px);
}
.ie8 .nav-sidebar .parent-list .child-list {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  list-style-type: none;
  padding-left: 30px;
  overflow-y: hidden;
  background-color: lightgray;
  position: relative;
  left: 0px;
}
.ie8 .nav-sidebar .parent-list .child-list.expand-2 {
  max-height: 98px;
}
.ie8 .nav-sidebar .parent-list .child-list.expand-3 {
  max-height: 137px;
}
.ie8 .nav-sidebar .parent-list .child-list.hiding {
  max-height: 0px !important;
  background-color: transparent;
  left: -400px;
}
.ie8 .nav-sidebar .parent-list .child-list .list-item {
  padding: 7px 0px;
}
.ie8 .nav-sidebar .parent-list .child-list .list-item:first-child {
  padding-top: 17px;
}
.ie8 .nav-sidebar .parent-list .child-list .list-item:last-child {
  padding-bottom: 17px;
}
.ie8 .main {
  width: auto;
  display: block;
}
.ie8 .main .center-main {
  width: 100%;
  max-width: 1126px;
  margin: 0px auto;
}
.ie8 .main-wrap {
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0px 0px 0px 175px;
}
.ie8 .sidebar {
  width: 230px;
  margin-right: 20px;
  margin-top: 36px;
  float: right;
  height: 438px;
  padding: 0px;
}
.ie8 .sidebar .subheader {
  margin: 10px 0px;
  display: block;
  color: #6f6f6f;
}
.ie8 .sidebar h2.sidebar-title {
  width: 100%;
  background-color: #f6655b;
  border: 1px solid #f6655b;
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  padding: 6px 0px;
  margin: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.ie8 .sidebar label, .ie8 .sidebar input, .ie8 .sidebar select {
  color: #6f6f6f;
}
.ie8 .sidebar .inner-sidebar {
  padding: 20px 10px;
}
.ie8 .sidebar .inner-sidebar strong {
  display: block;
}
.ie8 .sidebar .inner-sidebar span {
  color: #6f6f6f;
}
.ie8 .sidebar .inner-sidebar .avail-statement {
  color: #6f6f6f;
}
.ie8 .sidebar .inner-sidebar .availability-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.ie8 .sidebar .inner-sidebar .availability-list li {
  margin: 5px 0px;
}
.ie8 .sidebar .inner-sidebar .availability-list h3 {
  color: #18cde8;
  cursor: pointer;
  margin-bottom: 0px;
  text-decoration: underline;
}
.ie8 .sidebar .inner-sidebar .availability-list .host-info {
  color: #6f6f6f;
}
.ie8 .sidebar .icon-list {
  padding: 25px 0px 15px 0px;
  list-style: none;
  margin: 0px 0px 20px 0px;
  border-bottom: 1px solid #c9c9c9;
  font-size: 0px;
}
.ie8 .sidebar .icon-list li {
  cursor: pointer;
  width: 50%;
  display: inline-block;
  font-size: 13px;
  text-align: left;
}
.ie8 .sidebar .icon-list li span.fa {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  font-size: 20px;
  width: 30px;
  text-align: center;
  display: inline-block;
  margin-bottom: 5px;
  color: #6f6f6f;
}
.ie8 .sidebar .icon-list li label {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  font-size: 20px;
  font-weight: 100;
  color: #6f6f6f;
}
.ie8 .sidebar .icon-list li:hover span.fa, .ie8 .sidebar .icon-list li:hover label {
  color: #898989;
}
.ie8 .sidebar .icon-list li.selected span.fa, .ie8 .sidebar .icon-list li.selected label, .ie8 .sidebar .icon-list li.selected:hover span.fa, .ie8 .sidebar .icon-list li.selected:hover label {
  color: #f6655b;
}
.ie8 .sidebar #filterWrap {
  padding-bottom: 6px;
  text-align: center;
}
.ie8 .sidebar #filterWrap #fee-search {
  font-size: 11px;
  color: #6f6f6f;
}
.ie8 .sidebar #filterWrap #fee-search .slider {
  width: 150px !important;
  margin: 0px 15px !important;
}
.ie8 .sidebar #filterWrap #fee-search .slider-handle {
  background-color: #ebebeb;
  border: 1px solid #c9c9c9;
  border-radius: 8px;
}
.ie8 .sidebar #resultsWrap {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.ie8 .sidebar #resultsWrap.has-content {
  border: 1px solid #c9c9c9;
}
.ie8 .sidebar #resultsWrap li {
  margin: 0px;
  padding: 4px 0px 4px 8px;
}
.ie8 .sidebar #resultsWrap li:hover {
  background-color: whitesmoke;
}
.ie8 .sidebar #resultsWrap li:nth-child(odd) {
  background-color: #ebebeb;
}
.ie8 .sidebar #resultsWrap li:nth-child(odd):hover {
  background-color: #e6e6e6;
}
.ie8 .sidebar #resultsWrap h3 {
  color: #2b97a7;
  font-size: 17px;
  cursor: pointer;
  margin-bottom: 0px;
  margin-top: 0px;
  text-decoration: none;
}
.ie8 .sidebar #resultsWrap .host-info {
  font-size: 11px;
  color: #6f6f6f;
}
.ie8 .sidebar .host-info {
  display: block;
}
.ie8 .sidebar #zip-search input {
  width: 110px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}
.ie8 .calendar-header {
  text-align: center;
  height: 60px;
  padding-top: 22px;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -213px;
  z-index: 1001;
}
.ie8 .calendar-header .arrow-wrap {
  display: block;
}
.ie8 .calendar-header i {
  font-size: 20px;
}
.ie8 .calendar-header h2 {
  width: 240px;
  font-size: 26px;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
}
.ie8 .calendar-header * {
  color: white;
  display: inline-block;
  margin: 0px 15px;
}
.ie8 .calendarWrap {
  text-align: center;
}
.ie8 table.calendar {
  display: inline-block;
}
.ie8 table.calendar .calendar-row {
  border-bottom: 1px solid #c9c9c9;
}
.ie8 table.calendar .calendar-row .calendar-day-head {
  font-weight: 300;
  color: #6f6f6f;
  text-align: center;
  width: 160px;
  padding: 6px 0px;
  font-size: 20px;
  line-height: 24px;
}
.ie8 table.calendar .calendar-row .calendar-day {
  min-height: 80px;
  position: relative;
  height: 120px;
}
.ie8 table.calendar .calendar-row .calendar-day > span {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #6f6f6f;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  opacity: 0.7;
}
.ie8 table.calendar .calendar-row .calendar-day span strong {
  display: block;
}
.ie8 table.calendar .calendar-row .calendar-day.booked-you {
  background: #eceff5;
}
.ie8 table.calendar .calendar-row .calendar-day:hover {
  background: #eceff5;
}
.ie8 table.calendar .calendar-row .calendar-day:hover > span {
  opacity: 0.9;
}
.ie8 table.calendar .calendar-row .calendar-day:hover .day-icon-bar > .icon {
  opacity: .8;
}
.ie8 table.calendar .calendar-row .calendar-day:hover .day-icon-bar > .icon i {
  opacity: .8;
}
.ie8 table.calendar .calendar-row .calendar-day .day-number {
  position: absolute;
  background: 0 0;
  top: -5px;
  right: 0px;
  text-align: right !important;
  padding: 5px;
  color: #6f6f6f;
  width: 50px;
}
.ie8 table.calendar .calendar-row .calendar-day-np {
  background: #ebebeb;
  min-height: 80px;
  height: 80px;
}
.ie8 table.calendar .calendar-row .calendar-day,
.ie8 table.calendar .calendar-row .calendar-day-np {
  width: 120px;
  border-right: 1px solid #c9c9c9;
}
.ie8 table.calendar .calendar-row .calendar-day:first-child,
.ie8 table.calendar .calendar-row .calendar-day-np:first-child {
  border-left: 1px solid #c9c9c9;
}
.ie8 table.calendar .calendar-row .day-icon-bar {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  width: 100%;
  font-size: 0px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  text-align: right;
}
.ie8 table.calendar .calendar-row .day-icon-bar > .icon {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  text-align: center;
  width: 30px;
  height: 28px;
  padding-top: 3px;
  border-radius: 3px;
  margin: 0px 3px 3px 0px;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  color: white;
  opacity: .6;
}
.ie8 table.calendar .calendar-row .day-icon-bar > .icon i {
  opacity: .5;
}
.ie8 table.calendar .calendar-row .day-icon-bar > .icon.more-info {
  display: none;
}
.ie8 table.calendar .calendar-row .day-icon-bar > .icon.i-sky {
  background-color: #18cde8;
  color: white;
}
.ie8 table.calendar .calendar-row .day-icon-bar > .icon.i-sky:hover {
  background-color: #38d4eb;
}
.ie8 table.calendar .calendar-row .day-icon-bar > .icon.i-yellow {
  background-color: #f7e074;
  color: white;
}
.ie8 table.calendar .calendar-row .day-icon-bar > .icon.i-yellow:hover {
  background-color: #f9e896;
}
.ie8 table.calendar .calendar-row .day-icon-bar > .icon.i-coral {
  background-color: #f6655b;
  color: white;
}
.ie8 table.calendar .calendar-row .day-icon-bar > .icon.i-coral:hover {
  background-color: #f8857d;
}
.ie8 table.calendar .calendar-row .day-icon-bar > .icon.i-gray {
  background-color: #c9c9c9;
  color: #6f6f6f;
}
.ie8 table.calendar .calendar-row .day-icon-bar > .icon.i-gray:hover {
  background-color: #dbdbdb;
}
.ie8 table.calendar .calendar-row .day-icon-bar > .icon.i-dgray {
  background-color: #6f6f6f;
  color: white;
}
.ie8 table.calendar .calendar-row .day-icon-bar > .icon.i-dgray:hover {
  background-color: #818181;
}
.ie8 .user-signup #signupWrap {
  overflow: hidden;
  height: auto;
  max-height: 600px;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.ie8 .user-signup #signupWrap.reloading {
  max-height: 0px;
}
.ie8 .user-signup label.radio.inline {
  display: inline-block;
  width: 49%;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ie8 #newHostWrap {
  overflow: hidden;
  height: auto;
  max-height: 600px;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.ie8 #newHostWrap.reloading {
  max-height: 0px;
}
.ie8 .modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 10000;
  text-align: center;
}
.ie8 .modal-overlay .modal-box {
  display: inline-block;
  float: none;
  text-align: left;
  margin-top: 20%;
  position: relative;
}
.ie8 .modal-overlay .modal-box .exit-x {
  position: absolute;
  z-index: 1000;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #6f6f6f;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.ie8 .modal-overlay .modal-box .exit-x:hover, .ie8 .modal-overlay .modal-box .exit-x:active {
  color: #f6655b;
}
.ie8 .modal-overlay .modal-box #modalMessage {
  padding-left: 15px;
  position: relative;
  top: 30px;
  opacity: 0;
  display: none;
  color: green;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.ie8 .modal-overlay .modal-box #modalMessage.shown {
  top: 0px;
  opacity: 1;
  display: inline-block;
}
.ie8 .modal-radio-group {
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.ie8 .modal-radio-group label.inline {
  padding-left: 20px;
}
.ie8 .user-list {
  list-style: none;
  padding: 0px;
  border: 1px solid #c9c9c9;
}
.ie8 .user-list > li:not(.individual-user) {
  padding: 10px 0px;
  height: auto;
  overflow: hidden;
  cursor: pointer;
}
.ie8 .user-list > li:not(.individual-user):nth-child(even) {
  background-color: white;
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
}
.ie8 .user-list > li:not(.individual-user):nth-child(odd) {
  background-color: #e3e3e3;
}
.ie8 .user-list > li:not(.individual-user) span {
  display: inline-block;
}
.ie8 .user-list > li:not(.individual-user) span.edit {
  text-align: right;
  color: #2b97a7;
}
.ie8 .user-list > li:not(.individual-user) span.show-on-hover {
  display: none;
}
.ie8 .user-list li:not(.individual-user):hover.light, .ie8 .user-list li:not(.individual-user):active.light {
  background-color: #ebebeb;
}
.ie8 .user-list li:not(.individual-user):hover.dark, .ie8 .user-list li:not(.individual-user):active.dark {
  background-color: #c9c9c9;
}
.ie8 .user-list li:not(.individual-user):hover span.edit, .ie8 .user-list li:not(.individual-user):active span.edit {
  text-decoration: underline;
}
.ie8 .user-list li:not(.individual-user):hover span.show-on-hover, .ie8 .user-list li:not(.individual-user):active span.show-on-hover {
  display: inline-block;
}
.ie8 .user-list li:not(.individual-user):hover span.edit-pencil, .ie8 .user-list li:not(.individual-user):active span.edit-pencil {
  margin-right: 10px;
}
.ie8 .user-list .individual-user {
  cursor: auto;
  position: relative;
  padding-bottom: 25px;
}
.ie8 .user-list .individual-user.light {
  background-color: white;
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
}
.ie8 .user-list .individual-user.dark {
  background-color: #e3e3e3;
}
.ie8 .user-list .individual-user .exit-x {
  position: absolute;
  z-index: 1000;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #6f6f6f;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.ie8 .user-list .individual-user .exit-x:hover, .ie8 .user-list .individual-user .exit-x:active {
  color: #f6655b;
}
.ie8 .user-list .individual-user ul {
  padding: 0px;
  list-style: none;
}
.ie8 .user-list .individual-user ul li {
  height: 40px;
  padding: 10px 0px 0px 0px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: auto;
}
.ie8 .user-list .individual-user ul li.user-title {
  height: auto;
  padding-left: 44px;
  padding-bottom: 20px;
  overflow: hidden;
}
.ie8 .user-list .individual-user ul li h3 {
  margin-top: 0px;
  color: #6f6f6f;
}
.ie8 .user-list .individual-user ul li span {
  height: 100%;
}
.ie8 .user-list .individual-user ul li .user-label {
  height: 20px;
  text-align: left;
  color: #6f6f6f;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 0px;
}
.ie8 .host-list {
  list-style: none;
  padding: 0px;
  border: 1px solid #c9c9c9;
}
.ie8 .host-list > li:not(.individual-host) {
  padding: 10px 0px;
  height: auto;
  overflow: hidden;
  cursor: pointer;
}
.ie8 .host-list > li:not(.individual-host):nth-child(even) {
  background-color: white;
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
}
.ie8 .host-list > li:not(.individual-host):nth-child(odd) {
  background-color: #e3e3e3;
}
.ie8 .host-list > li:not(.individual-host) span {
  display: inline-block;
}
.ie8 .host-list > li:not(.individual-host) span.hostname, .ie8 .host-list > li:not(.individual-host) span.email {
  color: #6f6f6f;
}
.ie8 .host-list > li:not(.individual-host) span.edit {
  text-align: right;
  color: #2b97a7;
}
.ie8 .host-list > li:not(.individual-host) span.show-on-hover {
  display: none;
}
.ie8 .host-list li:not(.individual-host):hover.light, .ie8 .host-list li:not(.individual-host):active.light {
  background-color: #ebebeb;
}
.ie8 .host-list li:not(.individual-host):hover.dark, .ie8 .host-list li:not(.individual-host):active.dark {
  background-color: #c9c9c9;
}
.ie8 .host-list li:not(.individual-host):hover span.edit, .ie8 .host-list li:not(.individual-host):active span.edit {
  text-decoration: underline;
}
.ie8 .host-list li:not(.individual-host):hover span.show-on-hover, .ie8 .host-list li:not(.individual-host):active span.show-on-hover {
  display: inline-block;
}
.ie8 .host-list li:not(.individual-host):hover span.edit-pencil, .ie8 .host-list li:not(.individual-host):active span.edit-pencil {
  margin-right: 10px;
}
.ie8 .host-list .individual-host {
  cursor: auto;
  position: relative;
  padding-bottom: 25px;
}
.ie8 .host-list .individual-host.light {
  background-color: white;
  border-top: 1px solid #6f6f6f;
  border-bottom: 1px solid #6f6f6f;
}
.ie8 .host-list .individual-host.dark {
  background-color: #e3e3e3;
}
.ie8 .host-list .individual-host .exit-x {
  position: absolute;
  z-index: 1000;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #6f6f6f;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.ie8 .host-list .individual-host .exit-x:hover, .ie8 .host-list .individual-host .exit-x:active {
  color: #f6655b;
}
.ie8 .host-list .individual-host ul {
  padding: 0px;
  list-style: none;
}
.ie8 .host-list .individual-host ul li {
  height: 40px;
  padding: 10px 0px 0px 0px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: auto;
}
.ie8 .host-list .individual-host ul li.host-title {
  height: auto;
  padding-left: 44px;
  padding-bottom: 20px;
  overflow: hidden;
}
.ie8 .host-list .individual-host ul li h3 {
  margin-top: 0px;
  color: #6f6f6f;
}
.ie8 .host-list .individual-host ul li span {
  height: 100%;
}
.ie8 .host-list .individual-host ul li .host-label {
  height: 20px;
  text-align: left;
  color: #6f6f6f;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 0px;
}
