<!doctype html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,800,400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap-theme.min.css"> <!-- load bootstrap responsive css -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- load fontawesome -->
    <link rel="stylesheet" href="/css/style.min.css"> <!-- load my css -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vendor Senders</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div id="container">
      <header class="header" role="banner">
        <div id="logo-wrap">
          <a id="logo" href="/" rel="nofollow">
            <%- include vs_logo.svg.ejs %>
          </a>
        </div>
      </header>
      <% if(typeof user !== 'undefined'){ %>
        <% if(user.local.accountType == 99){ %>
          <nav class="nav-sidebar light">
            <a id="logo-dark" href="/" rel="nofollow">
              <%- include vs_logo.svg.ejs %>
            </a>
            <ul class="nav parent-list">

            <!-- ADMIN LINKS -->
              <!--<li class="list-item"><a href='/dashboard'><i class="fa fa-dashboard"></i> Dash</a></li>-->

              <li class="parent list-item">
                <a class="parent-label" href='/new-host'><i class="fa fa-building"></i> Hosts <i class="fa fa-chevron-right right more"></i></a>
                <ul class="child-list expands expand-3 hiding">
                  <li class="list-item"><a href="/admin/new-host"><i class="fa fa-plus"></i> New</a></li>
                  <li class="list-item"><a href="/admin/host-mgmt"><i class="fa fa-calendar"></i> View</a></li>
                  <li class="list-item"><a href="/admin/set-availability"><i class="fa fa-clock-o"></i> Times</a></li>
                </ul>
              </li>

              <li class="parent list-item">
                <a class="parent-label" href='/admin/user-mgmt'><i class="fa fa-users"></i> Users<i class="fa fa-chevron-right right more"></i></a>
                <ul class="child-list expands expand-2 hiding">
                  <li class="list-item"><a href="/signup"><i class="fa fa-plus"></i> New</a></li>
                  <li class="list-item"><a href="/admin/user-mgmt"><i class="fa fa-calendar"></i> View</a></li>
                </ul>
              </li>

              <li class="list-item"><a href='/logout'><i class="fa fa-power-off"></i> Log Out</a></li>

            </ul>
          </nav>
        <%} else if(user.local.accountType == 2){ %>
          <nav class="nav-sidebar light">
            <a id="logo-dark" href="/" rel="nofollow">
              <%- include vs_logo.svg.ejs %>
            </a>
            <ul class="nav parent-list">

              <!-- HOST LINKS -->
              <li class="list-item"><a href='/logout'><i class="fa fa-power-off"></i> Log Out</a></li>

            </ul>
          </nav>
        <% } else { %>
          <nav class="nav-sidebar light">
            <a id="logo-dark" href="/" rel="nofollow">
              <%- include vs_logo.svg.ejs %>
            </a>
            <ul class="nav parent-list">

            <!-- USER LINKS -->
              <li class="list-item"><a href='/dashboard'><i class="fa fa-calendar"></i> Bookings</a></li>
              <li class="list-item"><a href='http://vendorsenders.com/contact'><i class="fa fa-phone"></i> Contact</a></li>
              <!--<li class="list-item"><a href='/settings'><i class="fa fa-gear"></i> Settings</a></li>-->
              <li class="list-item"><a href='/logout'><i class="fa fa-power-off"></i> Log Out</a></li>

            </ul>
          </nav>
        <% } %>
      <% } else { %>
        <!-- NOT LOGGED IN -->
      <% } %>