                    <div class="sidebar">
                        <h2 class='sidebar-title'><%- sidebarTitle %></h2>
                        <ul id="iconWrap" class="icon-list 4-icons">
                            <li class="icon-wrap search-method-select" filter-method="name" id="searchByName">
                                <span class="fa fa-search"></span>
                                <label class="icon-label">Name</label>
                            </li>
                            <li class="icon-wrap search-method-select" filter-method="zip" id="searchByLocation">
                                <span class="fa fa-map-marker"></span>
                                <label class="icon-label">Location</label>
                            </li>
                            <li class="icon-wrap search-method-select" filter-method="size" id="searchBySize">
                                <span class="fa fa-users"></span>
                                <label class="icon-label">Size</label>
                            </li>
                            <li class="icon-wrap search-method-select" filter-method="fee" id="searchByFee">
                                <span class="fa fa-dollar"></span>
                                <label class="icon-label">Fee</label>
                            </li>
                        </ul>
                    </div>