<form
    enctype="multipart/form-data"
    action="/signup-basic"
    method="post"
    id="signupForm2"
    class="signupForm">

    <div class="form-group">
        <input placeholder="Business Name" type="text" class="form-control" id="bname" name="bname" autocomplete="off">
    </div>

    <div class="form-group">
        <textarea placeholder="Brief business description- 3 or 4 sentances to describe the products you may be selling." class="form-control" id="binfo" name="binfo"></textarea>
    </div>

    <div class="form-group">
        <label for="btype" class="control-label">Which of these most closely describes what you sell?</label>

        <label class="radio inline">
            <input type="radio" value="1" name="btype" autocomplete="off">
            Home Made Food
        </label>

        <label class="radio inline">
            <input type="radio" value="2" name="btype" autocomplete="off">
            Packaged Food
        </label>

        <label class="radio inline">
            <input type="radio" value="3" name="btype" autocomplete="off">
            Honey, Candy, and Nuts
        </label>

        <label class="radio inline">
            <input type="radio" value="4" name="btype" autocomplete="off">
            Jewelry
        </label>

        <label class="radio inline">
            <input type="radio" value="5" name="btype" autocomplete="off">
            Candles
        </label>

        <label class="radio inline">
            <input type="radio" value="6" name="btype" autocomplete="off">
            Clothing
        </label>

        <label class="radio inline">
            <input type="radio" value="7" name="btype" autocomplete="off">
            Cosmetics
        </label>

        <label class="radio inline">
            <input type="radio" value="8" name="btype" autocomplete="off">
            Soaps
        </label>

        <label class="radio inline">
            <input type="radio" value="9" name="btype" autocomplete="off">
            Nursery
        </label>

        <label class="radio inline">
            <input type="radio" value="10" name="btype" autocomplete="off">
            Flowers
        </label>

        <label class="radio inline">
            <input type="radio" value="11" name="btype" autocomplete="off">
            Home Goods
        </label>

        <label class="radio inline">
            <input type="radio" value="12" name="btype" autocomplete="off">
            Photography
        </label>

        <label class="radio inline">
            <input type="radio" value="13" name="btype" autocomplete="off">
            Gardening
        </label>

        <label class="radio inline">
            <input type="radio" value="14" name="btype" autocomplete="off">
            Hand Crafted
        </label>

        <label class="radio inline">
            <input type="radio" value="15" name="btype" autocomplete="off">
            Marketing
        </label>

        <label class="radio inline">
            <input type="radio" value="17" name="btype" autocomplete="off">
            Fashion Accessories
        </label>

        <label class="radio inline">
            <input type="radio" value="18" name="btype" autocomplete="off">
            Fashion Accessories
        </label>

        <label class="radio inline">
            <input type="radio" value="19" name="btype" autocomplete="off">
            Licenced Items
        </label>

        <label class="radio inline">
            <input type="radio" value="19" name="btype" autocomplete="off">
            <input placeholder="Other" type="text" class="form-control" id="btype-oth" name="btype-oth" autocomplete="off">
        </label>
    </div>

    <button id="signupButton" type="submit" name="submit" class="btn btn-primary btn-lg">Register</button>
</form>